---
import Section from "./Section.astro";
import type { ProjectProps } from "@types";

interface Props {
  projects: ProjectProps[];
}

const { projects } = Astro.props;
---

<Section text="Featured Projects" href="projects">
  {projects.map(({ name, summary, linkPreview, linkSource }, index) => {
    const top = 98 + index * 40;

    return (
      <div
        style={{ top: `${top}px` }}
        class="sticky mb-12 rounded-2xl border border-neutral/20 bg-black"
      >
        <div class="relative z-[1] grid w-full grid-cols-1 sm:grid-cols-2 rounded-2xl bg-[#1c232d]/85 before:absolute before:inset-0 before:z-[-1] before:rounded-2xl before:bg-[url(/raja.png)] before:bg-[length:128px] before:bg-repeat before:opacity-[5%] before:content-['']">

          <!-- Left: Project Name -->
          <div class="flex items-center justify-center px-6 py-10 sm:py-16">
            <h3 class="font-serif text-2xl sm:text-3xl font-semibold text-primary text-center sm:text-left">
              {name}
            </h3>
          </div>

          <!-- Right: Description and Links -->
          <div class="flex flex-col justify-center px-6 py-10 sm:py-16">
            {Array.isArray(summary) ? (
              <ul class="text-base text-neutral mb-5 list-disc list-inside space-y-2">
                {summary.map((point) => (
                  <li>{point}</li>
                ))}
              </ul>
            ) : (
              <p class="text-base text-neutral mb-5">{summary}</p>
            )}

            <div class="flex gap-5 text-white">
              {linkSource && (
                <a
                  href={linkSource}
                  target="_blank"
                  class="after:relative after:bottom-[-5px] after:content-[url(/external.svg)] hover:underline"
                >
                  Source
                </a>
              )}
              {linkPreview && (
                <a
                  href={linkPreview}
                  target="_blank"
                  class="after:relative after:bottom-[-5px] after:content-[url(/external.svg)] hover:underline"
                >
                  Preview
                </a>
              )}
            </div>
          </div>

        </div>
      </div>
    );
  })}
</Section>
